<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/emmanueljucaban">Emmanuel</a>. A web developer who is on a mission to become a full-stack software engineer.
  </p>
  <br />
  <p>
    He is currently taking a coding bootcamp called The Firehose Project with hopes of landing a job shortly or before graduation. 
  </p>
  <p>
    If you want to learn more about him go visit his website <a target="_blank" href="http://ejukeaban.com"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'aboutme.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Emmanuel Jucaban</h2>
    <br />
    <p>
      Emmanuel Jucaban is a web developer. He enjoys hiking and being a tourist in his beautiful city of San Francisco. He is well versed in Ruby and JavaScript and is currently attending The Firehose Project.
    </p>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />